.navbar-nav .nav-link {
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
}
.navbar-nav .nav-link:hover {
   background-color:  rgb(98, 42, 170) !important;
   border-radius: 8px;
   padding: 9px 14px 9px 14px;
   color: black;
   
   
}
.container2 button{
    color: aliceblue;
}
.container2 button:hover{
    color: aliceblue;

}

.img-fit {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.container1{
    margin-top: 140px;
}
.dropdown-menu .dropdown-item:hover{
    background-color: #7c4dff;
}
.img-resize {
    max-width: 80%; /* Adjust this value to control the size */
    height: auto;
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}
